extends layout

block content
    h1 MrTraner Design System
    p Bienvenido al sistema de diseño de MrTraner, aquí podras encontrar todo lo necesario para poder hacer uso de la lógica de los guidelines para el producto.
    hr
    p Este documento esta creado para:
    h3 Diseñadores
    h3 Programadores
