doctype html
html
    head
        title= title
        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/mrtraner_style.css')
    body
        .wrapper
            //Sidebar
            nav#sidebar.animated.fadeInLeft
                a(href='/')
                    h3.green_brand MrTraner DS
                a(href="/principios") Principios
                p.small.secondary_action Tokens
                a(href="/typo") Tipografía
                br
                a(href="/colors") Colores
                br
                a(href="/spacing") Espaciado
                br
                a(href="/animations") Animaciones
                br
                p.small.secondary_action Componentes
                a(href="/grid") Grid
                br
                a(href="/navbar") Top Navbar
                br
                p.small.secondary_action Otras secciones
                a(href="/news") News
                br
                br
                br
                br
                br
                br
                .small.secondary_action.break-word Para cualquier información contácta a 
                    a.small(href="mailto:juanmauricio.ochoa@gmail.com") juanmauricio.ochoa@gmail.com
            //Contenido
            #content.animated.fadeIn
                block content
