extends layout

block content
    h1 Tipografía
    p Las reglas de la tipografía son las siguientes:
    hr
    h1 h1
    p.code &lt;h1&gt;&lt;/h1&gt;
    h2 h2
    p.code &lt;h2&gt;&lt;/h2&gt;
    h3 h3
    p.code &lt;h3&gt;&lt;/h3&gt;
    p p
    p.code &lt;p&gt;&lt;/p&gt;
    .small small
    p.code .small
