//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝

//Colores de la marca
$white_brand: #ffffff;
$green_brand: #98ca3d;

//Colores de acción
$primary_action: #abe542;
$secondary_action: #8f97a2;

//Colores booleanos
$positive: #15ff93;
$negative: #f04f8d;

//Fondos
$background_blue: #233946;

//Colores básicos
$white_normal: #f9f9f9;
$black_normal: #1c1d21;
