//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

//Fuente
$font: 'Montserrat', sans-serif;

//Tamaños
$h1: 50px;
$h2: 30px;
$h3: 20px;
$p: 13px;
$small: 10px;

//Niveles bold
$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;
